body{
    font-family: 'Courier New', Courier, monospace !important;
    background-color: var(--body-bg);
    
}

.dark-mode:root{
  --body-bg: #000000;
  --title-carousel: #e7e7e7;
  --background-carousel: #1a1c1f;
  --p-carousel: #8b61da;
}

.row{
    margin: 0;
}

.container{
    padding: 70px 0;
}

p, li, h5{
    color: var(--p-carousel);
    font-size: 20px;
}

header, .navbar{
    font-size: 26px;
    background-color: #421e86;
}

#nav-container{
    padding-top: 0;
    padding-bottom: 0;
}

#logo{
   
    width: 180px;
}

.navbar-brand{
    padding: 0;
    color: #FFF;
}

.navbar-brand:hover{
    color: #FFF;
}

#navbar-links a{
    color: #FFF;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding: 1rem .8rem;
}


.container-fluid {
    padding: 0;
  }
  
  #mainSlider .carousel-inner, #mainSlider .carousel-item {
    height: 90vh;
  }
  
  #mainSlider .carousel-caption {
    top: 30%;
  }
  
  #mainSlider .carousel-caption h2 {
    font-size: 50px;
    margin-bottom: 30px;
  }
  
  #mainSlider .carousel-caption p {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 100px;
    color: #FFF;
  }
  
  .main-btn {
    background-color: #65DAF9;
    color: #FFF;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
  }
  
  .main-btn:hover {
    text-decoration: none;
    color: #FFF;
    background-color: transparent;
    border-color: #3EC1D5;
  }
  
  .carousel-indicators .active {
    background-color: #65DAF9;
  }

  .switch .switch-text{
    padding-right: 0.3rem;
    font-size: 1.2rem;
  }

  .switch{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .switch .switch-wrapper{
    display: inline-block;
    width: 60px;
    height: 34px;
    position: relative;
  }
  .switch .switch-wrapper .switch-button{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
    background-color: var(--body-bg);
  }

  .switch .switch-wrapper .input{
    opacity: 0;
    width: 0;
    height: 0;
  }

  .switch .switch-wrapper .switch-button::before{
    content: "";
    width: 26px;
    height: 26px;
    position: absolute;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    transition: .4s all ease;
    background-color: aliceblue;
  }

  .switch .switch-wrapper input:checked + .switch-button{
    background-color: #212529;
  }
  .switch .switch-wrapper input:checked + .switch-button::before{
    transform: translateX(26px);
  }