<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curriculum</title>
      <!-- LINKS -->
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/buttons.css">
    
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/all.min.css">





    <link rel="stylesheet" href="/css/owl.carousel.min.css">
   

    <!-- SCRIPTS -->
    <script defer src="https://kit.fontawesome.com/b30c5aca1e.js" crossorigin="anonymous"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.js" integrity="sha256-2JRzNxMJiS0aHOJjG+liqsEOuBb6++9cY4dSOyiijX4=" crossorigin="anonymous"></script>
    <script defer src="/js/jquery.min.js" type="text/javascript"></script>
    <script defer src="/js/owl.carousel.min.js" type="text/javascript"></script>
    <script defer src="/js/main.js" type="text/javascript"></script>
    <script defer src="https://kit.fontawesome.com/bf7e05c402.js" crossorigin="anonymous"></script>
    <script defer
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <div class="container" id="nav-container">
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark">
      <a href="/" class="navbar-brand">
        <img id="logo" src="/assets/curriculum.svg" alt="Logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-links" aria-controls="navbar-links" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end text-center" id="navbar-links">
        <div class="navbar-nav" id="light">
            
          <a class="nav-item nav-link raise" href="{{ path('index')}}">Home</a>
          
          <a class="nav-item nav-link raise btn-gradient rounded linkedin" target="_blank"
          href="https://www.linkedin.com/in/christiansteffens/">
            <img src="assets/linkedin.png" alt="">
          </a>
          <a class="nav-item nav-link raise btn-gradient rounded twitter" target="_blank"
          href="https://twitter.com/ChristianHe4rt">
            <img src="assets/twitter.png" alt="">
          </a>
          <a class="nav-item nav-link raise btn-gradient rounded instagram" target="_blank"
          href="https://www.instagram.com/christian.heartbreak/" >
            <img src="assets/instagram.png" alt="">
          </a>
          <a class="nav-item nav-link raise btn-gradient rounded github" target="_blank"
          href="https://github.com/CyberAPOKA/">
            <img src="assets/github.png" alt="">
          </a>

          <label for="switch" class="nav-item nav-link switch">
            <i class="fa-solid fa-sun"></i>
            <div class="switch-wrapper">
            <input type="checkbox" id="switch">
            <span class="switch-button"></span>
          </div>
          <span><i class="fa-solid fa-moon"></i></span>
          </label>
          
        </div>
      </div>
    </nav>
  </div>
  </header>

  <main>
    <section class="ftco-section">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
                        <div class="text-center">
                        <h1>Christian André Steffens</h1>
                        <p>São Sebastião do Caí/RS</p>
                        <p>Brazilian, single, 22 years old.</p>
                        <h2>Objective</h2>
                        <p> I'm looking for a serious company that wants to invest in me so we can grow together and achieve our professional goals.</p>
                        <h2>Profile</h2>
                        <p>Student in the Information Technology area, I have knowledge in PHP, HTML, CSS,JavaScript, Database, JQuery and Css Libraries like Bootstrap, laravel framework, I've been an intern for 1 year using these languages, I've studied node.js, vue.js and java on my own, I really want to learn, I like to consume all kinds of programming-related content.</p>
                        <h2>Formation</h2>
                        <h3>-Work</h3>
                        <p>I work at São Leopoldo City Hall, Rio Grande do Sul - Brazil for 1 year, I performed several tasks, from system creation, maintenance, support and project continuity, both for the front-end and back-end.</p>
                        <h3>-Systems analysis and development - Unisinos</h3>  
                        <p>5th Semester - Expected completion in late 2022.</p>
                        <h3>-Advanced Web Development 2021 with PHP, Laravel and Vue.JS</h3>
                        <p>I learned a lot about web development using this course, PHP with Laravel, HTML, JQuery Database and Libraries, Done.</p>
                        <h3>- Modern web course node.js HTML CSS and Javascript</h3>
                        <p>Developed by Cod3r Cursos taught by Leonardo Moura Leitão Master in Informatics and software developer at DATAPREV. In Progress, Completed.</p>
                        <h3>- Extreme English Course</h3>
                        <p>Taught by Paulo Botelho - Graduated in Letters from the University of São Paulo and with Certificate of Excellence in English from the University of Cambridge. In progress,expected completion in 2022.</p>
                        <h3>- Complete high school</h3>   
                        <p>Felipe Camarão State High School, Completed in 2018.</p>
                        <h2>Languages</h2>
                        <p>-Intermediary English.</p>
                        <p>-Portuguese: Fluent native.</p>
                        <h3>Other skills</h3>
                        <p>Advanced knowledge in Office package (Word, Excel, PowerPoint), Outlook and Networks Social.</p>
                        <button><a href="/assets/curriculum.pdf" download>Download PDF <i class="fa-solid fa-download"></i></a></button>
                        </div>
					</div>
				</div>
			</div>
		</section>
    
  </main>

  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>